<section class="main-banner rounded-t-3xl mt-10 ">
    <div class="max-w-7xl mx-auto">
      <div class="lg:px-8 px-6 lg:pt-12">
        <div class="flex justify-center items-center flex-nowrap gap-x-3 py-8">
          <div>
            <img src="assets/images/logo-chiper.png" class="w-[112px] h-[63px]" alt="">
          </div>
          <div>
            <p class="text-white font-bold text-xl">+</p>
          </div>
          <div>
            <img src="assets/images/logo-mensuli.png" class="w-full h-auto" alt="">
          </div>
        </div>
        <div class="flex h-full items-end justify-center relative">
          <div class="absolute">
            <img src="assets/images/3people.png" class="w-full h-auto " alt="">
          </div>
          <img src="assets/images/shape.png" alt="">
        </div>
      </div>
    </div>
</section>

<div class="max-w-7xl mx-auto lg:px-8 px-6 py-8 ">
    <p class="text-[#3C3C3C] font-bold text-2xl mb-5 md:text-center">
      Entrega rápida, gran variedad y envíos gratis al empezar
    </p>

    <ul class="lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-6 grid">
        <li class="flex items-center justify-start gap-x-3 ">
            <div class="bg-[#D9D9D9] rounded-lg p-2">
              <img src="assets/icons/icon-1.png" alt="">
            </div>
            <div>
              <h6 class="text-[#403E3E] font-medium text-base ">
                Entregas a <span class="text-[#EE2C4F] font-bold">48 horas</span>
              </h6>
              <p class="text-[#403E3E] font-normal text-xs">
                Sin demoras, sin excusas, solo entregas seguras.
              </p>
            </div>
        </li>
        <li class="flex items-center justify-start gap-x-3 ">
            <div class="bg-[#D9D9D9] rounded-lg p-2.5">
              <img src="assets/icons/icon-2.png" alt="">
            </div>
            <div>
              <h6 class="text-[#403E3E] font-medium text-sm ">
                Más de     <span class="text-[#EE2C4F] font-bold">500</span> productos
              </h6>
              <p class="text-[#403E3E] font-normal text-xs">
                Encuentra en una sola App. ¡Todo lo que necesitas!
              </p>
            </div>
        </li>
        <li class="flex items-center justify-start gap-x-3 ">
            <div class="bg-[#D9D9D9] rounded-lg py-2 px-[11px]">
              <img src="assets/icons/icon-3.png" alt="">
            </div>
            <div>
              <h6 class="text-[#403E3E] font-medium text-sm ">
                Recibe en la  <span class="text-[#EE2C4F] font-bold">puerta de tu negocio</span>
              </h6>
              <p class="text-[#403E3E] font-normal text-xs">
                Sin movilizarte, sin filas, sin cargas, sin complicaciones.
              </p>
            </div>
        </li>
        <li class="flex items-center justify-start gap-x-3 ">
            <div class="bg-[#D9D9D9] rounded-lg py-[6.5px] px-[9px]">
              <img src="assets/icons/icon-4.png" alt="">
            </div>
            <div>
              <h6 class="text-[#403E3E] font-medium text-sm ">
                Compra cualquier día, las   <span class="text-[#EE2C4F] font-bold">24 horas</span>
              </h6>
              <p class="text-[#403E3E] font-normal text-xs">
                Sin horarios, sin límites. Compra cuando lo necesites.
              </p>
            </div>
        </li>
    </ul>

    <footer class="footer flex flex-col items-center justify-start py-8 pb-12 ">

        <button class="btn-primary mb-5">¡Empezar a comprar!</button>
        <p class="text-xs text-center text-[#A18989] font-normal">
          Estos Términos y Condiciones de uso del Marketplace, aplicados exclusivamente para Colombia, son parte integrante de los “Términos y condiciones uso Marketplace Chiper Global ”. Por lo tanto, al hacer uso del Marketplace, estará aceptando íntegramente y sin reservas todas las disposiciones presentes en ambos documentos y sus anexos.
          <a class="underline" href="">
            Leer más terminos y condiciones:
          </a>
        </p>
    </footer>
</div>